name: build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  run:
    name: Build
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
            # macOS is just too slow, ugh
          #- macos-latest
        ocaml-compiler:
          - 4.03.x
          - 4.08.x
          - 4.12.x
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: ocaml/setup-ocaml@v2
      with:
        ocaml-compiler: ${{ matrix.ocaml-compiler }}
    - run: opam pin -n .
    - run: opam depext -yt iter
    - run: opam install -t . --deps-only
    - run: opam exec -- dune build @src/install
    - run: opam exec -- dune runtest tests/
      if: ${{ matrix.os == 'ubuntu-latest'}}
